@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2; /* Consider changing to a new palette color, e.g., border-secondary */
    outline-color: #C586A5; /* Consider changing to accent or secondary */
    border-radius: 4px;
}

.active{
    background-color: #ffebf5; /* Consider changing to a lighter shade of secondary or accent */
    border-color: #C586A5; /* Consider changing to accent or secondary */
}